{% extends 'store/base.html' %}
{% block content %}
<div class="container">
    <div class="email-wrapper">
        <!-- Header -->
        <div class="header">
            <h2>Delivery Status Updated</h2>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>Hello {{ delivery.customer.first_name }},</h1>
            <p>
                We are pleased to inform you that your delivery status for Order <strong>{{ delivery.tracking_number }}</strong> has been updated. You can track the status of your delivery below:
            </p>
            <div class="tracking-info">
                <p><strong>Tracking Number:</strong> {{ delivery.tracking_number }}</p>
                <p><strong>Status:</strong> {{ delivery.get_status_display }}</p>
            </div>

            {% if delivery.status == 'SHIPPED' %}
                <p><strong>Delivery Fee:</strong> {{ delivery.delivery_fee }}</p>
                <p>Please make the payment of <strong>{{ delivery.delivery_fee }}</strong> to the delivery driver.</p>
            {% endif %}

            <p>
                If you have any questions, feel free to reach out to our customer support. We're here to help!
            </p>
            <p>Thank you for shopping with us!</p>
        </div>
{% endblock %}