{% extends 'store/base.html' %}
{% block content %}

<style type="text/css">
	
.login-box {
	width: 480px;
	border: 1px solid #ccc;
	top: 46.5%;
	left: 45%;
	box-shadow: inset;
	position: absolute;
	z-index: 1;

	transform: translate(-40%,-40%);
		
}
.headform {
	background-color: rgb(64, 162, 214);
	color:white;
	height: 43px;
	text-align: center;
}
.headform p {
	padding-top: 13px;
	letter-spacing: 0.1rem;
}
.form {
	width: 100%;
	margin: 0px auto;
	padding: 0px 30px;
}
.label {
	margin: 12px 0px 12px 0px;
}
.input, #id_username,#id_email,#id_phone_number,#id_matric_number, #id_password1,#id_password2,#id_first_name,#id_last_name {
	width: 400px;
	height: 30px;
	padding: 0px 8px;
	border: 1px	solid #ccc;
}
#id_password2, #id_password1, #id_email,#id_last_name {
	margin-top: 1px;
}
#id_username {
	margin-bottom: 1px;
	margin-top: 1px; 
}

button {
	padding: 9px 20px;
	margin-top: 12px;
	margin-bottom: 12px;
	color: white;
	border: none;
	background-color:  rgb(64, 162, 214);	
	transition: .4s;
	border-radius: 3px;
}
button:hover {
	background-color: #56bed7;
	transition: .4s;
}
.form p {
	padding: 4px29px;
	border-radius: 3px;
	font-size: 18px;	
	margin-top: 12px;
	width: 285px;
}
.form a {
	text-decoration: none;
	margin-left: 12px;	
	
}

.errorlist{
	margin-top: 5px;
}
.errorlist li{
	margin-top: 0px;
	list-style: none;
	color: red;
	width: 325px;
	margin-top: 8px;
	display: block;
}
.helptext {
	display: none;
}
form ul li {
	display: none;
}
.text {
			margin-top: 20px;
		}
		.text .container {
		width: 90%;
		margin: 0 auto;
		}
		.text h2 {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.text p {
		margin-bottom: 15px;
		}
</style>
<body>
	{% if user.is_authenticated %}
	<div class="text">
    	<div class="container">
	    	<a href="{% url 'store' %}">Go to Home</a>
	    	<p>
	    		<strong><h2>Logged In</h2></strong>
				<p>You are currently logged in.</p>
	    		<a href="{% url 'logout' %}">Log out</a>
	    	</p>
	    </div>
	</div>
	{% else %}
	
<form method="POST">
		<div class="login-box shadow-xl">
			<div class="box">
				{%csrf_token%}
				<div class="headform">
					<p>Thrift Store || Register</p>
				</div>
				<div class="form">
					<div class="label">
						{{form.as_p}}
						

					<button type="submit" name="">Register</button>
					<a href="{% url 'driver_login' %}">Login</a>
				
				</div>
			</div>
		</div>
		</form>
		{% endif %}

{% endblock %}
<script type="text/javascript">
				function tog(){
				let x = document.querySelector('.link2');
				let y = document.querySelector('.burg1');
				let b = document.querySelector('.burg2');
				let a = document.querySelector('.burg3');
				x.classList.toggle('toggle');
				y.classList.toggle('tog');
				a.classList.toggle('tog');
				b.classList.toggle('tog');
				}
            </script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

			<script type="text/javascript">
				$(document).ready(function() {
					// Select the label with the `for` attribute matching `id_matric_number`
					$('label[for="id_matric_number"]').text('Driver ID:');
				});
			</script>
    </body>
</html>