{% extends "store/base.html" %}
{% block content %}
<style type="text/css">

.login-box {
	width: 380px;
	border: 1px solid #ccc;
	top: 45%;
	left: 45%;
	position: absolute;
	z-index: 1;
	transform: translate(-40%,-40%);
		
} 
.headform {
	background-color:  rgb(47, 129, 236);
	color: white;
	height: 50px;
	text-align: center;
}
.headform p {
	padding-top: 15px;
	letter-spacing: 0.1rem;
}
.form {
	width: 100%;
	margin: 0px auto;
	padding: 0px 30px;
}
.label {
	margin: 12px 0px 12px 0px;
}
.input, #id_username, #id_password {
	width: 300px;
	height: 30px;
	padding: 0px 8px;
}
#id_password {
	margin-top: 10px;
}
#id_username {
	margin-bottom: 20px;
	margin-top: 10px; 
}
button {
	padding: 9px 20px;
	margin-top: 12px;
	margin-bottom: 12px;
	color: white;
	border: none;
	background-color:  rgb(47, 129, 236);	
	transition: .4s;
	border-radius: 3px;
}
button:hover {
	background-color: #808076;
	transition: .4s;
}
.form p {
	border: 1px solid green;
	padding: 4px 9px;
	border-radius: 3px;
	font-size: 18px;
	color: green;	
	margin-top: 12px;
}
.form .register {
	text-decoration: none;
	margin-left: 12px;
	
}
.errorlist.nonfield {
	padding: 0px;
	width: 295px;
	text-align: justify-all;
	margin-bottom: 10px;
}
.errorlist.nonfield li {
	list-style: none;
	color: red;
}

.reset {
	margin-left: 0px;
	text-decoration: none;
}
</style>
<body>

	
<form method="POST">
		<div class="login-box">
			<div class="box">
				{%csrf_token%}
				<div class="headform">
					<p>Blessed Sign Thrift Store Login</p>
				</div>
				<div class="form">
					<div class="label">
						<p class="w-full">A verification link has been sent to your mail, click on the link and reset your password</p>
				</div>
			</div>
		</div>
		</form>


<script type="text/javascript">
				function tog(){
				let x = document.querySelector('.link2');
				let y = document.querySelector('.burg1');
				let b = document.querySelector('.burg2');
				let a = document.querySelector('.burg3');
				x.classList.toggle('toggle');
				y.classList.toggle('tog');
				a.classList.toggle('tog');
				b.classList.toggle('tog');
				}
            </script>
			{% endblock %}