{% extends "store/base.html" %}
{% block content %}
<style type="text/css">

.container {
	width: 80%;	
	margin: auto;
	min-height: 180px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 12px;
}
.container .but1 {
	margin-top: 16px;
	margin-left: 40px;
	padding: 10px 12px;
}
.container .table1 {
	margin-left: 7px;
	margin-top: 40px;
}
.container .table2 {
	margin-left: 7px;
	margin-top: 40px;
	height: 70px;
	padding-top: 34px;
}
.container .table2 .tab {
	margin-top: 29px;
}
.container .table2 .butt {
	margin-top: 29px;
	margin-right: 30px;
}
.container th,td {
    text-align: left;
    padding-left: 30px;
}
.container .table1 table {
	float: left;
}

.container .table1 button {
	float: right;
	margin-right: 30px;
	padding: 9px;
	border:none;background-color: rgb(47, 129, 236);
	outline: none;
	border-radius: 2.9px;
	color: white;
}

.container .table2 button {
	padding: 9px;
	border:none;
	background-color: rgb(47, 129, 236);
	outline: none;
	border-radius: 2.9px;
	color: white;
}
.table2 img {
	width: 150px;
	margin-left: 30px
}
.container .table2 {
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 890px) {
	.table2 img {
	width: 130px;
	margin-left: 0px;
	}
	.container .table2 .butt {
	margin-top: 29px;
	margin-right: 5px;
	}	
}
.text {
			margin-top: 20px;
		}
		.text .container {
		width: 90%;
		margin: 0 auto;
		}
		.text h2 {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.text p {
		margin-bottom: 15px;
		}
.text2 {
	width: 80%;	
	margin: auto;
margin-top: 12px;

}
.us {
    width: 300px;;
}
.login-box {
	width: 380px;
	border: 1px solid #ccc;
	top: 46.5%;
	left: 45%;
	position: absolute;
	z-index: 1;
	transform: translate(-40%,-40%);
		
}
.headform {
	background-color: rgb(47, 129, 236);
	color: white;
	height: 43px;
	text-align: center;
}
.headform p {
	padding-top: 13px;
	letter-spacing: 0.1rem;
}
.form {
	width: 100%;
	margin: 0px auto;
	padding: 0px 30px;
}
.label {
	margin: 12px 0px 12px 0px;
}
.input, #id_username,#id_email, #id_password1,#id_password2,#id_first_name,#id_last_name {
	width: 300px;
	border: 1px solid #ccc;
	height: 30px;
	padding: 0px 8px;
}
#id_password2, #id_password1, #id_email,#id_last_name {
	margin-top: 1px;
}
#id_username {
	margin-bottom: 1px;
	margin-top: 1px; 
}

button {
	padding: 9px 20px;
	margin-top: 12px;
	margin-bottom: 12px;
	color: white;
	border: none;
	background-color: rgb(47, 129, 236);	
	transition: .4s;
	border-radius: 3px;
}
button:hover {
	background-color: #808076;
	transition: .4s;
}
.form p {
	padding: 4px29px;
	border-radius: 3px;
	font-size: 18px;	
	margin-top: 12px;
	width: 285px;
}
.form a {
	text-decoration: none;
	margin-left: 12px;	
	
}

.errorlist{
	margin-top: 5px;
}
.errorlist li{
	margin-top: 0px;
	list-style: none;
	color: red;
	width: 325px;
	margin-top: 8px;
	display: block;
}
.helptext {
	display: none;
}
form ul li {
	display: none;
}
</style>
	
<form method="POST">
		<div class="login-box">
			<div class="box">
				{%csrf_token%}
				<div class="headform">
					<p>Blessed Sign Thrift Store || Reset Password</p>
				</div>
				<div class="form">
					<div class="label">
						{{form.as_p}}
					<button type="submit" name="">Reset</button>
				
				</div>
			</div>
		</div>
		</form>


<script type="text/javascript">
				function tog(){
				let x = document.querySelector('.link2');
				let y = document.querySelector('.burg1');
				let b = document.querySelector('.burg2');
				let a = document.querySelector('.burg3');
				x.classList.toggle('toggle');
				y.classList.toggle('tog');
				a.classList.toggle('tog');
				b.classList.toggle('tog');
				}
            </script>
{% endblock content %}
			